 <div class="user-details">
  <h1> Software Developer </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-photoshop-plain colored"></i>
      <p>Beginner Photoshop and Blender user.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-c-plain-wordmark"></i>
      <i class="devicon-csharp-plain-wordmark"></i>
      <i class="devicon-cplusplus-plain"></i>
      <p>Professionally usign C#, C++, C and Python Languages</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <p>Professionally using Unity and Git. </p>
    </div>
</div>
