<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mining Safety Robotics System </h3>
    <ul>
      <li> Arduino </li>
      <li> Autonom Systems </li>
      <li> C++ </li>
      <li> IoT </li>
    </ul>
    <p> A project made to control the safety of miners, all around the world. Project consists of three robot modules that communicates between themselves and uses some pre-arranged safety protocols and an AI searcher bot to save-protect miners. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Antarctica Researcher Simulation Game </h3>
    <ul>
      <li> Unity </li>
      <li> Game Design </li>
      <li> C# </li>
      <li> Literature Research </li>
    </ul>
    <p> This project is a mobile game project that demonstrates the lives of researchers in Antarctica. Games main purpose was increasing the aweraness on Antartic researches getting funding for that. Unfortunetly project couldn't be finished because it wasn't selected as presentation candidate. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Medical Cost Analysis With Machine Learning </h3>
    <ul>
      <li> Python </li>
      <li> Data Analysis </li>
      <li> Machine Learning </li>
    </ul>
    <p> This project was a homework given at the Global AI Hub and Aygaz's Machine Learning Bootcamp. It involves analysis on a given data set, using models to predict outcomes out of it and using metrics to score the outcomes. </p>
    <a class="project-link" href="#">https://github.com/hikmetEC/MedicalCostAnalysisForAygazBootcamp</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Toprağım (Agricultural Awareness Raising Mobile App) </h3>
    <ul>
      <li> Unity </li>
      <li> Photoshop </li>
      <li> Figma </li>
      <li> C# </li>
      <li> UI Design </li>
    </ul>
    <p> This project we firstly detected that the agricultural illiteracy causes a lot of cropland to be used badly. This decreases yield and damages the environment around the cropland. We created a mobile app that raises the awareness of people that is not highly knowledgeable in the topic and made systems to help raise their cropland.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
